h1 {
    font-size: 25px;
}

.container {
    display: flex;
}

.box {
    width: 50px;
    height: 50px;
    border: 1px solid;
    background-color: yellow;
    margin: 7px;
}

.box:nth-child(even) {
    margin-top: 30px;
    background-color: green;
}

.number-box{
    display: flex;
    width: 70px;
    height: 40px;
    border: 1px solid black;
    background-color: red;
    color: white;
    margin: 7px;
    align-items: center;
    justify-content: center;
}
.number-box:nth-child(even){
    display: none;
}

.row{
    display: flex;
}
.starred-box{
    width: 50px;
    height: 50px;
    background-color: green;
    margin: 5px;
}
.X-box{
    width: 50px;
    height: 50px;
    background-color: blue;
    margin: 5px;
}

.selection-box1{
    width: 50px;
    height: 50px;
    border: 1px solid;
    background-color: lightblue;
    margin: 3px;

}
.selection-box1:nth-child(n+6){
    background-color: orange;
}

.selection-box2{
    width: 50px;
    height: 50px;
    border: 1px solid;
    background-color: lightblue;
    margin: 3px;

}
.selection-box2:nth-child(-n+5){
    background-color: orange;
}

.selection-box3{
    width: 50px;
    height: 50px;
    border: 1px solid;
    background-color: lightblue;
    margin: 3px;

}
.selection-box3:nth-child(4n){
    background-color: orange;
}

.selection-box4{
    width: 50px;
    height: 50px;
    border: 1px solid;
    background-color: lightblue;
    margin: 3px;

}
.selection-box4:nth-child(n+7){
    background-color: orange;
}

.selection-box5{
    width: 50px;
    height: 50px;
    border: 1px solid;
    background-color: lightblue;
    margin: 3px;

}
.selection-box5:nth-child(10){
    background-color: orange;
}

.multiple-box{
    width: 50px;
    height: 50px;
    background-color: lightgray;
    color: white;
    border: 1px solid black;
    margin: 3px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.multiple-box:hover {
    color: red;
}

.multiple-box:nth-child(2n):hover {
    color: yellow;
}

.multiple-box:nth-child(3n):hover {
    color: yellow;
}

.multiple-box:nth-child(5n):hover {
    color: yellow;
}
.multiple-box:nth-child(6n):hover {
    color: yellow;
}